// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
// color
$primary: #5D9CEC;
$secondary: #AC92EC;
$danger: #ED5565;
$warning: #FFCE54;
$success: #48CFAD;
$info: #4FC1E9;
$light: #F5F7FA;
$dark: #656D78;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Init
$content-bg: #f0f2f5;

$border-color: #dbdbdb;
$border-width: 1px;
$border-radius: .7rem;
$border-radius-sm: .7rem;
$border-radius-lg: .7rem;
$min-contrast-ratio: 1;

// Font
$font-family-base: "Poppins" ,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: .9rem;

// Container
$container-padding-x: 3rem;

// Body
$body-bg: #ffffff;
$body-color: #434A54;

// Card
$card-border-color: $border-color;
$card-cap-padding-y: 1rem;
$card-border-width: 0;
$card-box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);

// Form Control
$form-label-margin-bottom: .25rem;

// Input
$input-bg: #e9ecef;
$input-border-color: #d9d9d9;
$input-btn-border-width: 1px;
$input-font-size: .8rem;
$input-padding-x: .75rem;
$input-padding-y: .5rem;

// Button
$btn-font-size: .8rem;
$btn-box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 20%);

// Navbar
$navbar-padding-y: .25rem;
$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: rgba($primary, .25);

// Breadcrumb
$breadcrumb-font-size: 1rem;
$breadcrumb-item-padding-x: 1rem;

// Dropdown
$dropdown-border-width: 1px;
$dropdown-font-size: .8rem;

// Pagination
$pagination-border-width: 1px;

// Table
$table-cell-padding-y: 1rem;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
//  Form
$form-feedback-icon-invalid: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#{$form-feedback-icon-invalid-color}" class="icon"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"/></svg>');

// Breadcrumb
$breadcrumb-divider: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#{$breadcrumb-divider-color}"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>');

// Themes
// set for themes
$theme-map: ();
$theme-map-top: ();

$themes: (
        light: (
                body-bg: $body-bg,
                body-color: $body-color,
                border-color: $border-color,
                card-bg: $card-bg,
                card-color: $card-color,
                card-footer-bg: rgba(#000, 0.1),
                color: #000,
                color-hover: rgba(#000, 0.7),
                color-disabled: rgba(#000, 0.3),
                color-active: rgba(#000, 0.9),
                content-bg: $body-bg,
                input-bg: #e9ecef,
                input-color: #000,
                input-disabled-bg: #E9ECF7,
                input-disabled-color: #73837b,
                login-bg: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)),
                navbar-bg: $body-bg,
                navbar-color: #000,
                table-striped-bg: $table-striped-bg,
                calendar-bg: #fff,
                calendar-color: #000,
                calendar-hover-bg: $card-bg,
                calendar-hover-color: $body-color,
        ),
        dark: (
                body-bg: #171717,
                body-color: #838383,
                border-color: #282828,
                card-footer-bg: rgba(#fff, 0.1),
                card-bg: #1a1a1a,
                card-color: #838383,
                color: #fff,
                color-hover: rgba(#fff, 0.7),
                color-disabled: rgba(#fff, 0.3),
                color-active: rgba(#fff, 0.9),
                content-bg: #171717,
                input-bg: #1e1e1e,
                input-color: #fff,
                input-disabled-bg: #444444,
                input-disabled-color: #73837b,
                login-bg: linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
                navbar-bg: #171717,
                navbar-color: #fff,
                table-striped-bg: rgba(0, 0, 0, 0.175),
                calendar-bg: #171717,
                calendar-color: #fff,
                calendar-hover-bg: #1a1a1a,
                calendar-hover-color: #838383,
        ),
);

@mixin theme-top() {
    @each $theme, $map in $themes {
        &.#{$theme}-theme{
            $theme-map-top: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map-top: map-merge($theme-map-top, ($key: $value)) !global;
            }
            @content;
            $theme-map-top: null !global;
        }
    }
}

@mixin theme() {
    @each $theme, $map in $themes {
        body.#{$theme}-theme & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
}

@function t($key) {
    @return map-get($theme-map, $key);
}
@function t-top($key) {
    @return map-get($theme-map-top, $key);
}

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    'blue'      : $blue,
    'purple'    : $purple,
    'teal'      : $teal,
    'orange'    : $orange,
    'yellow'    : $yellow,
    'green'     : $green,
    'red'       : $red,
    'gray'      : $gray-700,
    'white'     : $white
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities-text-colors: map-loop($theme-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($theme-colors, rgba-css-var, "$key", "bg");
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/spinners";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
@each $color, $value in $theme-colors {
    .btn-outline-#{$color} {
        --bs-btn-bg: #252525;
    }
}

body {
    @include theme-top() {
        --bs-body-bg: #{t-top('body-bg')};
        --bs-body-color: #{t-top('body-color')};
        --bs-border-color: #{t-top('border-color')};
        --bs-color: #{t-top('color')};
        --bs-color-hover: #{t-top('color-hover')};
        --bs-sweet-alert-2-bg: #{t-top('body-bg')};
        --bs-calendar-bg: #{t-top('calendar-bg')};
        --bs-calendar-color: #{t-top('calendar-color')};
        --bs-calendar-hover-bg: #{t-top('calendar-hover-bg')};
        --bs-calendar-hover-color: #{t-top('calendar-hover-color')};
        --bs-input-bg: #{t-top('input-bg')};
        --bs-input-color: #{t-top('input-color')};
        --bs-input-border-color: #{t-top('border-color')};
        --bs-input-focus-bg: #{t-top('input-bg')};
        --bs-input-focus-color: #{t-top('input-color')};
        --bs-input-disabled-bg: #{t-top('input-disabled-bg')};
        --bs-input-disabled-color: #{t-top('input-disabled-color')};
    }
}
footer {
    background: linear-gradient(0deg, rgba(23,23,23,1) 0%, rgba(23,23,23,0) 100%);
}
hr {
    border: 1px solid var(--bs-border-color);
}
.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
}
.bg-gradient-primary {
  background-color: $primary;
  background-image: linear-gradient(
                  140deg
          ,$primary 10%,$secondary 100%);
  background-size: cover;
}
.bg-gradient-secondary {
  background-color: $secondary;
  background-image: linear-gradient(
                  140deg
          ,$secondary 10%,$warning 100%);
  background-size: cover;
}
.bg-gradient-success {
  background-color: $success;
  background-image: linear-gradient(
                  140deg
          ,$success 10%,$info 100%);
  background-size: cover;
}
.bg-gradient-info {
  background-color: $info;
  background-image: linear-gradient(
                  140deg
          ,$info 10%,$primary 100%);
  background-size: cover;
}
.bg-gradient-warning {
  background-color: $warning;
  background-image: linear-gradient(
                  140deg
          ,$warning 10%,$danger 100%);
  background-size: cover;
}
.bg-gradient-danger {
  background-color: $danger;
  background-image: linear-gradient(
                  140deg
          ,$danger 10%,$secondary 100%);
  background-size: cover;
}
.bg-gradient-dark {
  background-color: $dark;
  background-image: linear-gradient(
                  140deg
          ,$dark 10%,#111417 100%);
  background-size: cover;
}
.bg-login {
    //@include theme() {
    //    background: t('login-bg'), t('login-img');
    //}
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bg-tile {
    background-image: linear-gradient(to bottom, transparent 95%, rgba(255, 255, 255, .025) 100%), linear-gradient(to right, transparent 95%, rgba(255, 255, 255, .025) 100%);
    background-size: 32px 32px, 32px 32px;
}
.border-dashed {
    border-style: dashed !important;
}
.border-dashed-bottom {
    border-bottom: $border-width dashed $border-color !important;
}
.btn {
    box-shadow: var(--bs-btn-box-shadow);
    border: 0;
}
.btn-close {
    color: var(--bs-color);
    &:hover {
        color: var(--bs-color-hover);
    }
}
.btn-icon {
    min-width: 2.25rem;
    min-height: 2.25rem;
    padding: .5rem;
}
.card {
    @include theme(){
        --bs-card-border-color: #{t('border-color')};
        --bs-card-cap-bg: #{t('card-bg')};
        --bs-card-cap-color: #{t('card-color')};
        --bs-card-bg: #{t('card-bg')};
        --bs-card-color: #{t('card-color')};
    }
    box-shadow: $card-box-shadow;
    .card-header {
        box-shadow: $card-box-shadow;
    }
}
.content {
    @include theme() {
        --bs-content-bg: #{t('content-bg')};
    }
    padding-left: 16.5rem;
    padding-top: 1rem;
    background-color: var(--bs-content-bg);
}
.datepicker-cell {
    &:not(.disabled) {
        &:hover {
            background-color: var(--bs-calendar-hover-bg);
        }
    }
}
.datepicker-controls {
    .button {
        background-color: var(--bs-calendar-bg);
        color: var(--bs-body-color);
        border-radius: $border-radius;
        &:hover {
            background-color: var(--bs-calendar-hover-bg);
            color: var(--bs-calendar-hover-color);
        }
    }
}
.datepicker-footer {
    background-color: var(--bs-calendar-hover-bg);
    .datepicker-controls {
        .button {
            border-radius: $border-radius;
            border-color: var(--bs-body-color);
        }
    }
}
.datepicker-header {
    .datepicker-controls {
        .button {
            &:active {
                background-color: var(--bs-calendar-hover-bg);
            }
            &:hover {
                background-color: var(--bs-calendar-hover-bg);
                color: var(--bs-calendar-hover-color);
            }
        }
    }
}
.datepicker-picker {
    background-color: var(--bs-calendar-bg);
    color: var(--bs-calendar-color);
    border-radius: $border-radius;
    span {
        border-radius: $border-radius;
    }
}
.dropdown-menu {
    @include theme() {
        --bs-dropdown-bg: #{t('navbar-bg')};
        --bs-dropdown-color: #{t('navbar-color')};
        --bs-dropdown-border-color: #{t('border-color')};
        --bs-dropdown-link-color: #{t('color')};
        --bs-dropdown-link-hover-color: #{t('color-hover')};
        --bs-dropdown-link-hover-bg: #{t('input-bg')};
        --bs-navbar-active-color: #{t('color-active')};
    }
}
.font-logo {
    font-family: 'Righteous';
}
.form-control {
    @include theme() {
        --bs-input-bg: #{t('input-bg')};
        --bs-input-color: #{t('input-color')};
        --bs-input-border-color: #{t('border-color')};
        --bs-input-focus-bg: #{t('input-bg')};
        --bs-input-focus-color: #{t('input-color')};
        --bs-input-disabled-bg: #{t('input-disabled-bg')};
        --bs-input-disabled-color: #{t('input-disabled-color')};
    }
    background-color: var(--bs-input-bg);
    color: var(--bs-input-color);
    border-color: var(--bs-input-border-color);
    transition: $btn-transition;
    &:disabled {
        background-color: var(--bs-input-disabled-bg);
        color: var(--bs-input-disabled-color);
    }
    &:read-only {
        background-color: var(--bs-input-disabled-bg);
        color: var(--bs-input-disabled-color);
    }
    &:focus {
        background-color: var(--bs-input-focus-bg);
        color: var(--bs-input-focus-color);
    }
    &.is-invalid {
        animation: shake 0.2s ease-in-out 0s 2;
    }
}
.form-select {
    @include theme() {
        --bs-input-bg: #{t('input-bg')};
        --bs-input-color: #{t('input-color')};
        --bs-input-border-color: #{t('border-color')};
        --bs-input-focus-bg: #{t('input-bg')};
        --bs-input-focus-color: #{t('input-color')};
    }
    background-color: var(--bs-input-bg);
    color: var(--bs-input-color);
    border-color: var(--bs-input-border-color);
    &:disabled {
        background-color: var(--bs-input-disabled-bg);
        color: var(--bs-input-disabled-color);
    }
    &:focus {
        background-color: var(--bs-input-focus-bg);
        color: var(--bs-input-focus-color);
    }
    transition: $btn-transition;
}
.icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -1px;
}
.icon-sm {
    width: 1rem;
    height: 1rem;
    margin-top: -1px;
}
.input-group {
    border-radius: $input-border-radius!important;
    &.is-invalid {
        animation: shake 0.2s ease-in-out 0s 2;
        &:focus-within {
            border-color: $form-feedback-invalid-color;
            box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-feedback-invalid-color, $input-btn-focus-color-opacity);

            input {
                box-shadow: none;
            }

            .input-group-text {
                border-color: $form-feedback-icon-invalid-color;
                color: $form-feedback-icon-invalid-color !important;
            }
        }

        .input-group-text {
            border-color: $form-feedback-icon-invalid-color;
            color: $form-feedback-icon-invalid-color !important;
        }
    }
    &.input-group-lg {
        border-radius: $input-border-radius-lg;
    }
    &:focus-within {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadow;

        input {
            box-shadow: none;
        }

        .input-group-text {
            border-color: $input-focus-border-color;
        }
    }
}
.input-group-text {
    @include theme() {
        --bs-input-bg: #{t('input-bg')};
        --bs-input-color: #{t('input-color')};
        --bs-input-border-color: #{t('border-color')};
    }
    background-color: var(--bs-input-bg);
    color: var(--bs-input-color);
    border-color: var(--bs-input-border-color);
    transition: $btn-transition;
}
.main-content {
    position: relative;
}
.main-sidebar {
    @include theme() {
        --bs-sidebar-bg: #{t('card-bg')};
        --bs-sidebar-color: #{t('card-color')};
        --bs-sidebar-border-color: #{t('border-color')};
    }
    background-color: var(--bs-sidebar-bg);
    color: var(--bs-sidebar-color);
    padding: 1rem;
    border-radius: $card-border-radius;
    border: $card-border-width $border-style var(--bs-sidebar-border-color);
    box-shadow: $card-box-shadow;
}
.modal-content {
    @include theme() {
        --bs-modal-bg: #{t('card-bg')};
        --bs-modal-color: #{t('card-color')};
        --bs-modal-border-color: #{t('border-color')};
        --bs-modal-footer-bg: #{t('card-footer-bg')};
    }
}
.navbar {
    @include theme() {
        --bs-navbar-bg: #{t('navbar-bg')};
        --bs-navbar-color: #{t('navbar-color')};
        --bs-navbar-hover-color: #{t('color-hover')};
        --bs-navbar-disabled-color: #{t('color-disabled')};
        --bs-navbar-active-color: #{t('color-active')};
        --bs-navbar-brand-color: #{t('color')};
        --bs-navbar-brand-hover-color: #{t('color')};
    }
    border-bottom: $border-width $border-style rgba($dark, .1);
    color: var(--bs-navbar-color);
    background-color: var(--bs-navbar-bg);
}
.no-caret {
    &:after {
        display: none;
    }
}
.pagination {
    @include theme() {
        --bs-pagination-bg: #{t('input-bg')};
        --bs-pagination-border-color: #{t('border-color')};
        --bs-pagination-disabled-bg: #{t('card-bg')};
        --bs-pagination-disabled-border-color: #{t('border-color')};
        --bs-pagination-hover-bg: #{t('border-color')};
        --bs-pagination-hover-border-color: #{t('border-color')};
    }
}
.profile-widget {
    margin-top: 2rem;
    .profile-widget-description {
        padding: 2rem;
        line-height: 1.75rem;
    }
    .profile-widget-header {
        display: inline-block;
        width: 100%;
        margin-bottom: .5rem;
    }
    .profile-widget-items{
        display: flex;
        position: relative;
        .profile-widget-item {
            flex: 1;
            text-align: center;
            padding: .75rem 0;
            border-right: $border-width $border-style $border-color;
            &:last-child {
                border: none !important;
            }
            .profile-widget-item-label {
                font-weight: 600;
                font-size: .8rem;
                letter-spacing: 0.01rem;
            }
        }
        &:after{
            background-color: $dropdown-link-hover-bg;
        }
    }
    .profile-widget-picture {
        box-shadow: 0 4px 8px rgb(0 0 0 / 3%);
        float: left;
        width: 100px;
        height: 100px;
        margin: -2rem -.5rem 0 2rem;
        position: relative;
        z-index: 1;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
}
.section-body {
    .section-title {
        &:before {
            content: ' ';
            border-radius: $border-radius;
            height: .5rem;
            width: 1.5rem;
            background-color: $primary;
            display: inline-block;
            float: left;
            margin-top: .5rem;
            margin-right: .75rem;
        }
    }
    .section-lead {
        margin-left: 2.25rem;
    }
}
.sidebar {
    @include theme(){
        --bs-sidebar-nav-link-active-bg: #{t('content-bg')};
        --bs-sidebar-nav-link-color: #{t('navbar-color')};
    }
    position: absolute;
    width: 18rem;
    height: 100%;
    padding: 1rem;
    .nav {
        &.nav-pills {
            .nav-item {
                .nav-link {
                    color: var(--bs-sidebar-nav-link-color);
                    &.active {
                        background-color: var(--bs-sidebar-nav-link-active-bg);
                    }
                }
            }
        }
    }
}
.swal2-popup {
    background-color: var(--bs-sweet-alert-2-bg) !important;
    box-shadow: $btn-box-shadow;
}
.table {
    @include theme() {
        --bs-table-color: #{t('color')};
        --bs-table-head-color: #{t('body-color')};
        --bs-table-striped-bg: #{t('table-striped-bg')};
        --bs-table-striped-color: #{t('color')};
    }
    thead {
        tr {
            th {
                color: var(--bs-table-head-color);
                &:first-child {
                    padding-left: 1rem;
                }
            }
        }
    }
    &:not(.data-table) {
        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: 0;
                        &:first-child {
                            border-bottom-left-radius: $border-radius;
                        }
                        &:last-child {
                            border-bottom-right-radius: $border-radius;
                        }
                    }
                }
            }
        }
    }
}
.table-footer {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    nav {
        width: 100%;
    }
    .table-pagination {
        flex: 0 0 auto;
        width: 50%;
        align-self: center;
    }
    .table-footer-text {
        flex: 0 0 auto;
        width: 50%;
    }
}
.table-header {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    .table-search {
        flex: 0 0 auto;
        width: 50%;
        .input-group {
            width: 50%;
            float: right;
            .form-control {
                border-right: 0;
            }
            .btn {
                padding: 0.505rem 1rem;
                border-left: 0;
            }
        }
    }
    .table-select {
        display: inline-flex;
        flex: 0 0 auto;
        width: 50%;
        .form-select {
            width: 5rem;
            margin-right: .5rem;
        }
    }
}
.text-default {
    color: var(--bs-color) !important;
}
.w-1-slot {
    width: 3.5rem;
}
.w-2-slot {
    width: 7rem;
}

[data-bs-toggle="tooltip"] {
    text-decoration-style: dotted;
    text-decoration-color: $text-muted;
    text-decoration-line: underline;
}

@keyframes shake {
    0% { margin-left: 0; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0; }
}