// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
// color
$primary: #5D9CEC;
$secondary: #AC92EC;
$danger: #ED5565;
$warning: #FFCE54;
$success: #48CFAD;
$info: #4FC1E9;
$light: #F5F7FA;
$dark: #656D78;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Init
$border-color: rgba($dark, 0.15);
$radius: .5rem;
$min-contrast-ratio: 1;

// Font
$font-family-base: "Poppins" ,system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-base: .9rem;

// Container
$container-padding-x: 3rem;

// Body
$body-bg: #f0f2f5;
$body-color: #434A54;

// Card
$card-border-color: $border-color;
$card-border-radius: $radius;
$card-cap-padding-y: 1rem;
$card-cap-bg: $white;

// Form Control
$form-feedback-icon-invalid: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#{$form-feedback-icon-invalid-color}" class="icon"><path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"/></svg>');
$form-label-margin-bottom: .25rem;

// Input
$input-bg: #e9ecef;
$input-font-size: .8rem;
$input-focus-bg: $input-bg;
$input-padding-x: .75rem;
$input-padding-y: .5rem;

// Button
$btn-font-size: .8rem;

// Navbar
$navbar-padding-y: .25rem;

// Nav
$nav-pills-border-radius: $radius;
$nav-pills-link-active-bg: $primary;

// Breadcrumb
$breadcrumb-divider: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="12" height="12" viewBox="0 0 24 24" stroke-width="1.5" stroke="#{$breadcrumb-divider-color}"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" /></svg>');
$breadcrumb-font-size: 1rem;
$breadcrumb-item-padding-x: 1rem;

// Dropdown
$dropdown-border-color: $border-color;
$dropdown-font-size: .8rem;
$dropdown-color: $body-color;
$dropdown-link-color: $body-color;
$dropdown-link-active-bg: $primary;

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    'blue'      : $blue,
    'purple'    : $purple,
    'teal'      : $teal,
    'orange'    : $orange,
    'yellow'    : $yellow,
    'green'     : $green,
    'red'       : $red,
    'gray'      : $gray-700,
    'white'     : $white
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

$utilities-text-colors: map-loop($theme-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($theme-colors, rgba-css-var, "$key", "bg");
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/tables";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
.avatar {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    object-position: center;
}
.border-dashed {
    border-style: dashed !important;
}
.border-dashed-bottom {
    border-bottom: $border-width dashed $border-color !important;
}
.content {
    padding-left: 17rem;
    padding-top: 1rem;
}
.bg-login {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), rgba(255, 2355, 255, 1)), url('/assets/images/backgrounds/bg-login-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.font-logo {
    font-family: 'Righteous';
}
.icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -1px;
}
.icon-sm {
    width: 1rem;
    height: 1rem;
    margin-top: -1px;
}
.input-group {
    border-radius: $input-border-radius;
    &.is-invalid {
        &:focus-within {
            border-color: $form-feedback-invalid-color;
            box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($form-feedback-invalid-color, $input-btn-focus-color-opacity);

            input {
                box-shadow: none;
            }

            .input-group-text {
                border-color: $form-feedback-icon-invalid-color;
                color: $form-feedback-icon-invalid-color !important;
            }
        }

        .input-group-text {
            border-color: $form-feedback-icon-invalid-color;
            color: $form-feedback-icon-invalid-color !important;
        }
    }
    &.input-group-lg {
        border-radius: $input-border-radius-lg;
    }
    &:focus-within {
        border-color: $input-focus-border-color;
        box-shadow: $input-focus-box-shadow;

        input {
            box-shadow: none;
        }

        .input-group-text {
            border-color: $input-focus-border-color;
        }
    }
}
.main-content {
    position: relative;
}
.navbar {
    border-bottom: $border-width $border-style rgba($dark, .1);
    color: rgba($dark, .75);
    background-color: $white;
    .nav-item {
        .dropdown-menu {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            margin-top: .3rem;
        }
    }
}
.no-caret {
    &:after {
        display: none;
    }
}
.sidebar {
    position: absolute;
    width: 17rem;
    height: 100%;
    padding: 1rem;
    border-right: $border-width $border-style $border-color;
    .nav {
        &.nav-pills {
            .nav-item {
                .nav-link {
                    color: $body-color;
                    &.active {
                        background-color: $body-bg;
                    }
                }
            }
        }
    }
}
.table {
    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                    &:first-child {
                        border-bottom-left-radius: $radius;
                    }
                    &:last-child {
                        border-bottom-right-radius: $radius;
                    }
                }
            }
        }
    }
}
.w-2-slot {
    width: 7rem;
}
